<a href="https://colab.research.google.com/github/gunjanak/My_Data_Science_Course/blob/main/Mongodb_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic installation and import

In [ ]:
!apt install mongodb

In [ ]:
!service mongodb start

 * Starting database mongodb
   ...done.

In [ ]:
from pymongo import MongoClient

In [ ]:
client = MongoClient()

In [ ]:
client.list_database_names()

['admin', 'config', 'local']

#Creating a Database

In [ ]:
import pymongo

In [ ]:
mydb = client["MyDatabase"]

In [ ]:
client.list_database_names()

['admin', 'config', 'local']

#Creating a Collection

In [ ]:
mycolletions = mydb['customers']

In [ ]:
client.list_database_names()

['admin', 'config', 'local']

In [ ]:
mydb.list_collection_names()

[]

#Insert into collection

In [ ]:
mydict = {"name":"John","address":"Highway 37"}

In [ ]:
x = mycolletions.insert_one(mydict)

In [ ]:
client.list_database_names()

['MyDatabase', 'admin', 'config', 'local']

In [ ]:
mydb.list_collection_names()

['customers']

**Return the \_id field**

In [ ]:
#the insert_one() method returns a InsertOneResult object, which has a property insert_i,that holds the id of the inserted document.
dict2 = {"name":"Peter","address":"F street"}
x = mycolletions.insert_one(dict2)

In [ ]:
print(x)

<pymongo.results.InsertOneResult object at 0x7f7bb2f144c0>

In [ ]:
print(x.inserted_id)

63d5d355d40693d04fc378ad

In [ ]:
#If you do not specify an _id field,
#then MongoDB will add one for you and assign a unique id foreach document

In [ ]:
#In the above example no _id field was specified,
#so MongoDB assigned a unique _id for the record

#Insert Multiple documents

In [ ]:
mylist = [
    {"name":"Rajesh","address":"55 street"},
    {"name":"Mickey","address":"555 street"},
    {"name":"Donald","address":"855 street"},
    {"name":"Goofy","address":"556 street"},
    {"name":"Baloo","address":"56 street"}

]

In [ ]:
x = mycolletions.insert_many(mylist)

In [ ]:
#print list of the _id values of the inserted documents
print(x.inserted_ids)

[ObjectId('63d5d359d40693d04fc378ae'), ObjectId('63d5d359d40693d04fc378af'), ObjectId('63d5d359d40693d04fc378b0'), ObjectId('63d5d359d40693d04fc378b1'), ObjectId('63d5d359d40693d04fc378b2')]

#Insert Multiple Documents,with specified IDs

In [ ]:
car_list = [
    {"_id":1,"Brand":"Audi","Color":"Yellow"},
    {"_id":2,"Brand":"Toyota","Color":"Purple"},
    {"_id":3,"Brand":"Honda","Color":"Green"},
    {"_id":4,"Brand":"Bajaj","Color":"red"},
    {"_id":5,"Brand":"Dragon","Color":"Pink"}
]

In [ ]:
x = mycolletions.insert_many(car_list)

In [ ]:
print(x.inserted_ids)

[1, 2, 3, 4, 5]

#Find

In [ ]:
#find_one() method returns the first occurence in the selection
x = mycolletions.find_one()

In [ ]:
x

{'_id': ObjectId('63d5d355d40693d04fc378ac'),
 'name': 'John',
 'address': 'Highway 37'}

In [ ]:
for x in mycolletions.find():
  print(x)

{'_id': ObjectId('63d5d355d40693d04fc378ac'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63d5d355d40693d04fc378ad'), 'name': 'Peter', 'address': 'F street'}
{'_id': ObjectId('63d5d359d40693d04fc378ae'), 'name': 'Rajesh', 'address': '55 street'}
{'_id': ObjectId('63d5d359d40693d04fc378af'), 'name': 'Mickey', 'address': '555 street'}
{'_id': ObjectId('63d5d359d40693d04fc378b0'), 'name': 'Donald', 'address': '855 street'}
{'_id': ObjectId('63d5d359d40693d04fc378b1'), 'name': 'Goofy', 'address': '556 street'}
{'_id': ObjectId('63d5d359d40693d04fc378b2'), 'name': 'Baloo', 'address': '56 street'}
{'_id': 1, 'Brand': 'Audi', 'Color': 'Yellow'}
{'_id': 2, 'Brand': 'Toyota', 'Color': 'Purple'}
{'_id': 3, 'Brand': 'Honda', 'Color': 'Green'}
{'_id': 4, 'Brand': 'Bajaj', 'Color': 'red'}
{'_id': 5, 'Brand': 'Dragon', 'Color': 'Pink'}

In [ ]:
for x in mycolletions.find({},{"_id":0,"name":1,"address":1}):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'F street'}
{'name': 'Rajesh', 'address': '55 street'}
{'name': 'Mickey', 'address': '555 street'}
{'name': 'Donald', 'address': '855 street'}
{'name': 'Goofy', 'address': '556 street'}
{'name': 'Baloo', 'address': '56 street'}
{}
{}
{}
{}
{}

In [ ]:
for x in mycolletions.find({},{"_id":0,"name":1,"address":1}):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'F street'}
{'name': 'Rajesh', 'address': '55 street'}
{'name': 'Mickey', 'address': '555 street'}
{'name': 'Donald', 'address': '855 street'}
{'name': 'Goofy', 'address': '556 street'}
{'name': 'Baloo', 'address': '56 street'}
{}
{}
{}
{}
{}

In [ ]:
for x in mycolletions.find({},{"address":1}):
  print(x)

{'_id': ObjectId('63d5d355d40693d04fc378ac'), 'address': 'Highway 37'}
{'_id': ObjectId('63d5d355d40693d04fc378ad'), 'address': 'F street'}
{'_id': ObjectId('63d5d359d40693d04fc378ae'), 'address': '55 street'}
{'_id': ObjectId('63d5d359d40693d04fc378af'), 'address': '555 street'}
{'_id': ObjectId('63d5d359d40693d04fc378b0'), 'address': '855 street'}
{'_id': ObjectId('63d5d359d40693d04fc378b1'), 'address': '556 street'}
{'_id': ObjectId('63d5d359d40693d04fc378b2'), 'address': '56 street'}
{'_id': 1}
{'_id': 2}
{'_id': 3}
{'_id': 4}
{'_id': 5}

In [ ]:
for x in mycolletions.find({},{"address":0}):
  print(x)

{'_id': ObjectId('63d5d355d40693d04fc378ac'), 'name': 'John'}
{'_id': ObjectId('63d5d355d40693d04fc378ad'), 'name': 'Peter'}
{'_id': ObjectId('63d5d359d40693d04fc378ae'), 'name': 'Rajesh'}
{'_id': ObjectId('63d5d359d40693d04fc378af'), 'name': 'Mickey'}
{'_id': ObjectId('63d5d359d40693d04fc378b0'), 'name': 'Donald'}
{'_id': ObjectId('63d5d359d40693d04fc378b1'), 'name': 'Goofy'}
{'_id': ObjectId('63d5d359d40693d04fc378b2'), 'name': 'Baloo'}
{'_id': 1, 'Brand': 'Audi', 'Color': 'Yellow'}
{'_id': 2, 'Brand': 'Toyota', 'Color': 'Purple'}
{'_id': 3, 'Brand': 'Honda', 'Color': 'Green'}
{'_id': 4, 'Brand': 'Bajaj', 'Color': 'red'}
{'_id': 5, 'Brand': 'Dragon', 'Color': 'Pink'}

In [ ]:
for x in mycolletions.find({},{"name":1,"address":0}):
  print(x)

OperationFailure: ignored

#MongoDB Query

In [ ]:
books = mydb['Books']

In [ ]:
book_list = [
    {"Writer":"Poulo Coelho","Name":"Zahir","Price":123},
    {"Writer":"Poulo Coelho","Name":"Alchemist","Price":231},
    {"Writer":"Poulo Coelho","Name":"Aleph","Price":356},
    {"Writer":"Poulo Coelho","Name":"Brida","Price":896}  
]

In [ ]:
x = books.insert_many(book_list)

In [ ]:
x

In [ ]:
myquery = {"Price":{"$gt":300}}

In [ ]:
mydoc = books.find(myquery)

In [ ]:
for x in mydoc:
  print(x)

{'_id': ObjectId('63d5e949d82bf7b01ba50278'), 'Writer': 'Poulo Coelho', 'Name': 'Aleph', 'Price': 356}
{'_id': ObjectId('63d5e949d82bf7b01ba50279'), 'Writer': 'Poulo Coelho', 'Name': 'Brida', 'Price': 896}

#Filter with regular expression

In [ ]:
#To Find only the documents where the "Name" field starts with the letter "A"
#use the regular expression {"$regex":"^S"}

In [ ]:
query = {"Name":{"$regex":"^A"}}
mydoc = books.find(query)

In [ ]:
for x in mydoc:
  print(x)

{'_id': ObjectId('63d5e949d82bf7b01ba50277'), 'Writer': 'Poulo Coelho', 'Name': 'Alchemist', 'Price': 231}
{'_id': ObjectId('63d5e949d82bf7b01ba50278'), 'Writer': 'Poulo Coelho', 'Name': 'Aleph', 'Price': 356}

#Python MongoDB Sort

In [ ]:
more_books = [
    {"Writer":"Sidney Sheldon","Name":"The Doomsday Conspiracy","Price":223},
    {"Writer":"Sidney Sheldon","Name":"Windmills of Gods","Price":231},
    {"Writer":"Sidney Sheldon","Name":"Minutes till midnight","Price":566},
    {"Writer":"Sidney Sheldon","Name":"Sands of time","Price":926},
    {"Writer":"John le Carré","Name":"Tinker Tailor Soilder Spy","Price":789},
    {"Writer":"John le Carré","Name":"Call for the dead","Price":589},
    {"Writer":"John le Carré","Name":"Our Game","Price":759},
    {"Writer":"John le Carré","Name":"Silverview","Price":689},
    {"Writer":"John le Carré","Name":"The Night Manager","Price":289},
     ]

In [ ]:
books.insert_many(more_books)

In [ ]:
mydoc = books.find().sort("Price")

In [ ]:
for x in mydoc:
  print(x)

In [ ]:
for x in books.find().sort("Writer"):
  print(x)

{'_id': ObjectId('63d5ef8bd82bf7b01ba50287'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50288'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50289'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d5ef8bd82bf7b01ba5028a'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d5ef8bd82bf7b01ba5028b'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50283'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50284'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50285'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50286'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}

In [ ]:
#Sort Descending
for x in books.find().sort("Writer",-1):
  print(x)

{'_id': ObjectId('63d5ef8bd82bf7b01ba50283'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50284'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50285'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50286'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50287'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50288'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50289'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d5ef8bd82bf7b01ba5028a'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d5ef8bd82bf7b01ba5028b'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}

In [ ]:
#Sort Descending
for x in books.find().sort("Name",-1):
  print(x)

{'_id': ObjectId('63d5e949d82bf7b01ba50276'), 'Writer': 'Poulo Coelho', 'Name': 'Zahir', 'Price': 123}
{'_id': ObjectId('63d5ec88d82bf7b01ba5027b'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}
{'_id': ObjectId('63d5ec88d82bf7b01ba5027e'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d5ec88d82bf7b01ba50282'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}
{'_id': ObjectId('63d5ec88d82bf7b01ba5027a'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d5ec88d82bf7b01ba50281'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d5ec88d82bf7b01ba5027d'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d5ec88d82bf7b01ba50280'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d5ec88d82bf7b01ba5027c'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d5ec88d82bf7b01ba5027f'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d5e949d82bf7b01ba50279'), 'Writer': 'Poulo Coelho', 'Name': 'Brida', 'Price': 896}
{'_id': ObjectId('63d5e949d82bf7b01ba50278'), 'Writer': 'Poulo Coelho', 'Name': 'Aleph', 'Price': 356}
{'_id': ObjectId('63d5e949d82bf7b01ba50277'), 'Writer': 'Poulo Coelho', 'Name': 'Alchemist', 'Price': 231}

#Delete

In [ ]:
books.delete_one({"Name":"Alchemist"})

In [ ]:
books

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'MyDatabase'), 'Books')

In [ ]:
for x in books.find():
  print(x)

{'_id': ObjectId('63d5ef8bd82bf7b01ba50283'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50284'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50285'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50286'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50287'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50288'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d5ef8bd82bf7b01ba50289'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d5ef8bd82bf7b01ba5028a'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d5ef8bd82bf7b01ba5028b'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}

In [ ]:
#Delete Many Documents

In [ ]:
#Deleting every books starting with "T"

In [ ]:
query = {"Name":{"$regex":"^T"}}

In [ ]:
x = books.delete_many(query)
print(x.deleted_count,"Documents deleted")

3 Documents deleted

In [ ]:
#Delete all documents in a collection
x = books.delete_many({})
print(x.deleted_count,"Documents deleted")

6 Documents deleted

#Delete collections

In [ ]:
books.drop()

In [ ]:
client.list_database_names()

['admin', 'config', 'local']

In [ ]:
new_books = mydb["New_Books"]

In [ ]:
client.list_database_names()

['admin', 'config', 'local']

In [ ]:
more_books = [
    {"Writer":"Sidney Sheldon","Name":"The Doomsday Conspiracy","Price":223},
    {"Writer":"Sidney Sheldon","Name":"Windmills of Gods","Price":231},
    {"Writer":"Sidney Sheldon","Name":"Minutes till midnight","Price":566},
    {"Writer":"Sidney Sheldon","Name":"Sands of time","Price":926},
    {"Writer":"John le Carré","Name":"Tinker Tailor Soilder Spy","Price":789},
    {"Writer":"John le Carré","Name":"Call for the dead","Price":589},
    {"Writer":"John le Carré","Name":"Our Game","Price":759},
    {"Writer":"John le Carré","Name":"Silverview","Price":689},
    {"Writer":"John le Carré","Name":"The Night Manager","Price":289},
     ]

In [ ]:
new_books.insert_many(more_books)

In [ ]:
client.list_database_names()

['MyDatabase', 'admin', 'config', 'local']

In [ ]:
myquery = {"Price":689}
newvalues = {"$set":{"Price":550}}

In [ ]:
new_books.update_one(myquery,newvalues)

In [ ]:
for x in new_books.find():
  print(x)

{'_id': ObjectId('63d5f10fd82bf7b01ba5028c'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d5f10fd82bf7b01ba5028d'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}
{'_id': ObjectId('63d5f10fd82bf7b01ba5028e'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d5f10fd82bf7b01ba5028f'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d5f10fd82bf7b01ba50290'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d5f10fd82bf7b01ba50291'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d5f10fd82bf7b01ba50292'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d5f10fd82bf7b01ba50293'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 550}
{'_id': ObjectId('63d5f10fd82bf7b01ba50294'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}

In [ ]:
#Update many
myquery = {"Price":{"$lt":300}}
newPrice = {"$set":{"Price":500}}
x = new_books.update_many(myquery,newPrice)

In [ ]:
print(x.modified_count,"Documents updated")

3 Documents updated

#Python MongoDB Limit

In [ ]:
books = mydb['Books']

In [ ]:
more_books = [
    {"Writer":"Sidney Sheldon","Name":"The Doomsday Conspiracy","Price":223},
    {"Writer":"Sidney Sheldon","Name":"Windmills of Gods","Price":231},
    {"Writer":"Sidney Sheldon","Name":"Minutes till midnight","Price":566},
    {"Writer":"Sidney Sheldon","Name":"Sands of time","Price":926},
    {"Writer":"John le Carré","Name":"Tinker Tailor Soilder Spy","Price":789},
    {"Writer":"John le Carré","Name":"Call for the dead","Price":589},
    {"Writer":"John le Carré","Name":"Our Game","Price":759},
    {"Writer":"John le Carré","Name":"Silverview","Price":689},
    {"Writer":"John le Carré","Name":"The Night Manager","Price":289},
     ]

In [ ]:
self_help_books = [
    {"Writer":"Jan Yager","Name":"How to finish everything you start","Price":523},
    {"Writer":"Cal Newport","Name":"Deep Work","Price":893},
    {"Writer":"Peter Hollins","Name":"Finish what you start","Price":1523},
    {"Writer":"Chris Bailey","Name":"The Productivity Project","Price":5123},
    {"Writer":"Hyatt","Name":"Free to Focus","Price":273},
    {"Writer":"Schultz","Name":"Not Today","Price":321},
    {"Writer":"Guillebeau","Name":"Side Hustle","Price":389}
    
]

In [ ]:
books.insert_many(more_books)
books.insert_many(self_help_books)

In [ ]:
for x in books.find():
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607e6'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d614c64e0027b361c607e7'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}
{'_id': ObjectId('63d614c64e0027b361c607e8'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d614c64e0027b361c607e9'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d614c64e0027b361c607ea'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d614c64e0027b361c607eb'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d614c64e0027b361c607ec'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d614c64e0027b361c607ed'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d614c64e0027b361c607ee'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}
{'_id': ObjectId('63d614c64e0027b361c607ef'), 'Writer': 'Jan Yager', 'Name': 'How to finish everything you start', 'Price': 523}
{'_id': ObjectId('63d614c64e0027b361c607f0'), 'Writer': 'Cal Newport', 'Name': 'Deep Work', 'Price': 893}
{'_id': ObjectId('63d614c64e0027b361c607f1'), 'Writer': 'Peter Hollins', 'Name': 'Finish what you start', 'Price': 1523}
{'_id': ObjectId('63d614c64e0027b361c607f2'), 'Writer': 'Chris Bailey', 'Name': 'The Productivity Project', 'Price': 5123}
{'_id': ObjectId('63d614c64e0027b361c607f3'), 'Writer': 'Hyatt', 'Name': 'Free to Focus', 'Price': 273}
{'_id': ObjectId('63d614c64e0027b361c607f4'), 'Writer': 'Schultz', 'Name': 'Not Today', 'Price': 321}
{'_id': ObjectId('63d614c64e0027b361c607f5'), 'Writer': 'Guillebeau', 'Name': 'Side Hustle', 'Price': 389}

In [ ]:
for x in books.find().limit(5):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607e6'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d614c64e0027b361c607e7'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}
{'_id': ObjectId('63d614c64e0027b361c607e8'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d614c64e0027b361c607e9'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d614c64e0027b361c607ea'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}

#More Query

In [ ]:
#Find all Sidney Sheldon that costs less than 200
for x in books.find({"Writer":"Sidney Sheldon","Price":{"$lt":500}}):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607e6'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d614c64e0027b361c607e7'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}

In [ ]:
#Find all John le Carre books that starts with The
for x in books.find({"Writer":"John le Carré","Name":{"$regex":"^The"}}):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607ee'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}

In [ ]:
#Find all John le Carre books that starts with "The" and print price only
for x in books.find({"Writer":"John le Carré","Name":{"$regex":"^The"}},{"Price":1}):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607ee'), 'Price': 289}

In [ ]:
#All books with the price greater than 600
for x in books.find({"Price":{"$gt":600}}):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607e9'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d614c64e0027b361c607ea'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d614c64e0027b361c607ec'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d614c64e0027b361c607ed'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d614c64e0027b361c607f0'), 'Writer': 'Cal Newport', 'Name': 'Deep Work', 'Price': 893}
{'_id': ObjectId('63d614c64e0027b361c607f1'), 'Writer': 'Peter Hollins', 'Name': 'Finish what you start', 'Price': 1523}
{'_id': ObjectId('63d614c64e0027b361c607f2'), 'Writer': 'Chris Bailey', 'Name': 'The Productivity Project', 'Price': 5123}

In [ ]:
#All books with the price greater than 600 but sort according to Name
for x in books.find({"Price":{"$gt":600}}).sort("Name"):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607f0'), 'Writer': 'Cal Newport', 'Name': 'Deep Work', 'Price': 893}
{'_id': ObjectId('63d614c64e0027b361c607f1'), 'Writer': 'Peter Hollins', 'Name': 'Finish what you start', 'Price': 1523}
{'_id': ObjectId('63d614c64e0027b361c607ec'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d614c64e0027b361c607e9'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d614c64e0027b361c607ed'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d614c64e0027b361c607f2'), 'Writer': 'Chris Bailey', 'Name': 'The Productivity Project', 'Price': 5123}
{'_id': ObjectId('63d614c64e0027b361c607ea'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}

In [ ]:
#All books with the price greater than 600 but sort according to Price
for x in books.find({"Price":{"$gt":600}}).sort("Price"):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607ed'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d614c64e0027b361c607ec'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d614c64e0027b361c607ea'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d614c64e0027b361c607f0'), 'Writer': 'Cal Newport', 'Name': 'Deep Work', 'Price': 893}
{'_id': ObjectId('63d614c64e0027b361c607e9'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d614c64e0027b361c607f1'), 'Writer': 'Peter Hollins', 'Name': 'Finish what you start', 'Price': 1523}
{'_id': ObjectId('63d614c64e0027b361c607f2'), 'Writer': 'Chris Bailey', 'Name': 'The Productivity Project', 'Price': 5123}

In [ ]:
#and
result = books.find({
    "$and":[
        {
            "Writer":"Sidney Sheldon"
        },
        {
            "Price":{"$gt":500}
        }
    ]
})

In [ ]:
for x in result:
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607e8'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d614c64e0027b361c607e9'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}

In [ ]:
#or
#and
result = books.find({
    "$or":[
        {
            "Writer":"Sidney Sheldon"
        },
        {
            "Price":{"$gt":1000}
        }
    ]
})

In [ ]:
for x in result:
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607e6'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d614c64e0027b361c607e7'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}
{'_id': ObjectId('63d614c64e0027b361c607e8'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d614c64e0027b361c607e9'), 'Writer': 'Sidney Sheldon', 'Name': 'Sands of time', 'Price': 926}
{'_id': ObjectId('63d614c64e0027b361c607f1'), 'Writer': 'Peter Hollins', 'Name': 'Finish what you start', 'Price': 1523}
{'_id': ObjectId('63d614c64e0027b361c607f2'), 'Writer': 'Chris Bailey', 'Name': 'The Productivity Project', 'Price': 5123}

In [ ]:
#nor
result = books.find({
    "$nor":[
        {
            "Writer":"Sidney Sheldon"
        },
        {
            "Price":{"$gt":1000}
        }
    ]
})
for x in result:
  print(x)

In [ ]:
#not
for x in books.find( { "Price": { "$not": { "$gt": 599 } } } ):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607e6'), 'Writer': 'Sidney Sheldon', 'Name': 'The Doomsday Conspiracy', 'Price': 223}
{'_id': ObjectId('63d614c64e0027b361c607e7'), 'Writer': 'Sidney Sheldon', 'Name': 'Windmills of Gods', 'Price': 231}
{'_id': ObjectId('63d614c64e0027b361c607e8'), 'Writer': 'Sidney Sheldon', 'Name': 'Minutes till midnight', 'Price': 566}
{'_id': ObjectId('63d614c64e0027b361c607eb'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d614c64e0027b361c607ee'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}
{'_id': ObjectId('63d614c64e0027b361c607ef'), 'Writer': 'Jan Yager', 'Name': 'How to finish everything you start', 'Price': 523}
{'_id': ObjectId('63d614c64e0027b361c607f3'), 'Writer': 'Hyatt', 'Name': 'Free to Focus', 'Price': 273}
{'_id': ObjectId('63d614c64e0027b361c607f4'), 'Writer': 'Schultz', 'Name': 'Not Today', 'Price': 321}
{'_id': ObjectId('63d614c64e0027b361c607f5'), 'Writer': 'Guillebeau', 'Name': 'Side Hustle', 'Price': 389}

In [ ]:
#not
for x in books.find( { "Writer": { "$ne": "Sidney Sheldon" } } ):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607ea'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d614c64e0027b361c607eb'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d614c64e0027b361c607ec'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d614c64e0027b361c607ed'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d614c64e0027b361c607ee'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}
{'_id': ObjectId('63d614c64e0027b361c607ef'), 'Writer': 'Jan Yager', 'Name': 'How to finish everything you start', 'Price': 523}
{'_id': ObjectId('63d614c64e0027b361c607f0'), 'Writer': 'Cal Newport', 'Name': 'Deep Work', 'Price': 893}
{'_id': ObjectId('63d614c64e0027b361c607f1'), 'Writer': 'Peter Hollins', 'Name': 'Finish what you start', 'Price': 1523}
{'_id': ObjectId('63d614c64e0027b361c607f2'), 'Writer': 'Chris Bailey', 'Name': 'The Productivity Project', 'Price': 5123}
{'_id': ObjectId('63d614c64e0027b361c607f3'), 'Writer': 'Hyatt', 'Name': 'Free to Focus', 'Price': 273}
{'_id': ObjectId('63d614c64e0027b361c607f4'), 'Writer': 'Schultz', 'Name': 'Not Today', 'Price': 321}
{'_id': ObjectId('63d614c64e0027b361c607f5'), 'Writer': 'Guillebeau', 'Name': 'Side Hustle', 'Price': 389}

In [ ]:
#not in
#nin
for x in books.find( { "Writer": { "$nin": ["Sidney Sheldon"] } } ):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607ea'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d614c64e0027b361c607eb'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d614c64e0027b361c607ec'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d614c64e0027b361c607ed'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d614c64e0027b361c607ee'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}
{'_id': ObjectId('63d614c64e0027b361c607ef'), 'Writer': 'Jan Yager', 'Name': 'How to finish everything you start', 'Price': 523}
{'_id': ObjectId('63d614c64e0027b361c607f0'), 'Writer': 'Cal Newport', 'Name': 'Deep Work', 'Price': 893}
{'_id': ObjectId('63d614c64e0027b361c607f1'), 'Writer': 'Peter Hollins', 'Name': 'Finish what you start', 'Price': 1523}
{'_id': ObjectId('63d614c64e0027b361c607f2'), 'Writer': 'Chris Bailey', 'Name': 'The Productivity Project', 'Price': 5123}
{'_id': ObjectId('63d614c64e0027b361c607f3'), 'Writer': 'Hyatt', 'Name': 'Free to Focus', 'Price': 273}
{'_id': ObjectId('63d614c64e0027b361c607f4'), 'Writer': 'Schultz', 'Name': 'Not Today', 'Price': 321}
{'_id': ObjectId('63d614c64e0027b361c607f5'), 'Writer': 'Guillebeau', 'Name': 'Side Hustle', 'Price': 389}

In [ ]:
#not in
#nin
for x in books.find( { "Writer": { "$nin": ["Sidney Sheldon","Jan Yager"] } } ):
  print(x)

{'_id': ObjectId('63d614c64e0027b361c607ea'), 'Writer': 'John le Carré', 'Name': 'Tinker Tailor Soilder Spy', 'Price': 789}
{'_id': ObjectId('63d614c64e0027b361c607eb'), 'Writer': 'John le Carré', 'Name': 'Call for the dead', 'Price': 589}
{'_id': ObjectId('63d614c64e0027b361c607ec'), 'Writer': 'John le Carré', 'Name': 'Our Game', 'Price': 759}
{'_id': ObjectId('63d614c64e0027b361c607ed'), 'Writer': 'John le Carré', 'Name': 'Silverview', 'Price': 689}
{'_id': ObjectId('63d614c64e0027b361c607ee'), 'Writer': 'John le Carré', 'Name': 'The Night Manager', 'Price': 289}
{'_id': ObjectId('63d614c64e0027b361c607f0'), 'Writer': 'Cal Newport', 'Name': 'Deep Work', 'Price': 893}
{'_id': ObjectId('63d614c64e0027b361c607f1'), 'Writer': 'Peter Hollins', 'Name': 'Finish what you start', 'Price': 1523}
{'_id': ObjectId('63d614c64e0027b361c607f2'), 'Writer': 'Chris Bailey', 'Name': 'The Productivity Project', 'Price': 5123}
{'_id': ObjectId('63d614c64e0027b361c607f3'), 'Writer': 'Hyatt', 'Name': 'Free to Focus', 'Price': 273}
{'_id': ObjectId('63d614c64e0027b361c607f4'), 'Writer': 'Schultz', 'Name': 'Not Today', 'Price': 321}
{'_id': ObjectId('63d614c64e0027b361c607f5'), 'Writer': 'Guillebeau', 'Name': 'Side Hustle', 'Price': 389}

#Counting

In [ ]:
books.count_documents({})

16

In [ ]:
books.count_documents({"Writer":"Sidney Sheldon"})

4

In [ ]:
books.count_documents({"Writer":"Sidney Sheldon","Price":{"$gt":600}})

1

#Aggregation Example

In [ ]:
from pymongo import MongoClient

In [ ]:
db = MongoClient().aggregation_example

In [ ]:
list_of_things = [{"x":1,"tags":["Dog","Car","Elephant","Ball","Banana"]},
                  {"x":2,"tags":["Dog","Cat","Tiger","Banana"]},
                  {"x":3,"tags":["Banana"]},
                  {"x":4,"tags":["Elephant","Tiger","Banana"]},
                  {"x":5,"tags":["Apple","Banana"]},
                  {"x":6,"tags":[]},]

In [ ]:
result = db.things.insert_many(list_of_things)

In [ ]:
result

In [ ]:
result.inserted_ids

[ObjectId('63d6240a4e0027b361c607fd'),
 ObjectId('63d6240a4e0027b361c607fe'),
 ObjectId('63d6240a4e0027b361c607ff'),
 ObjectId('63d6240a4e0027b361c60800'),
 ObjectId('63d6240a4e0027b361c60801'),
 ObjectId('63d6240a4e0027b361c60802')]

In [ ]:
#Aggregation Framework
#This example shows how to use the aggregate() method to use the aggregation framework. We’ll perform a simple aggregation to count the number of occurrences for each tag in the tags array, across the entire collection. To achieve this we need to pass in three operations to the pipeline. First, we need to unwind the tags array, then group by the tags and sum them up, finally we sort by count.

#As python dictionaries don’t maintain order you should use SON or collections.OrderedDict where explicit ordering is required eg “$sort”:

In [ ]:
from bson.son import SON

In [ ]:
pipeline = [{"$unwind":"$tags"},
            {"$group":{"_id":"$tags","count":{"$sum":1}}},
            {"$sort":SON([("count",-1),("_id",-1)])}]

In [ ]:
import pprint

In [ ]:
pprint.pprint(list(db.things.aggregate(pipeline)))

[{'_id': 'Banana', 'count': 10},
 {'_id': 'Tiger', 'count': 4},
 {'_id': 'Elephant', 'count': 4},
 {'_id': 'Dog', 'count': 4},
 {'_id': 'Cat', 'count': 2},
 {'_id': 'Car', 'count': 2},
 {'_id': 'Ball', 'count': 2},
 {'_id': 'Apple', 'count': 2}]

#Authentication Examples

##Percent-Escaping USername and Password

In [ ]:
#Username and password must be percent-escaped with urllib.parse.quote(), to be used in a MongoDB URI.
from pymongo import MongoClient
import urllib.parse

In [ ]:
username = urllib.parse.quote_plus('user')
password = urllib.parse.quote_plus("Pass/word")

In [ ]:
username

'user'

In [ ]:
password

'Pass%2Fword'

##SCRAM-SHA-256 (RFC 7677)

In [ ]:
client = MongoClient("example.com",
                     username="user",
                      password='password',
                     authSource='the_database',
                     authMechanism='SCRAM-SHA-256')

#Connecting to atlas

In [11]:
!apt install mongodb

Reading package lists... Done
Building dependency tree
Reading state information... Done
mongodb is already the newest version (1:3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3).
0 upgraded, 0 newly installed, 0 to remove and 27 not upgraded.

In [12]:
!service mongodb start

 * Starting database mongodb
   ...done.

In [13]:
from pymongo import MongoClient

In [14]:
!curl ipecho.net/plain

35.237.95.86

In [ ]:
!python3 --version

Python 3.8.10

In [ ]:
#Go to setting in Atlas and enter the ip address given above

In [15]:
#Read textfile which contains the link 
#do not reveal it as it contains password
file_path = "/content/url.txt"
file1 = open(file_path,"r+") 
cluster = file1.read()

In [16]:
client = MongoClient(cluster)

**List of database**

In [17]:
print(client.list_database_names())

['Books', 'CarsDB', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

**Selecting database**

In [ ]:
db = client['CarsDB']

In [ ]:
#Listing collections in database
db.list_collection_names()

['Cars']

In [ ]:
dir(db)

In [ ]:
#select collection
car_collection = db['Cars']

In [ ]:
#get data in this collection
for x in car_collection.find():
  print(x)

#Upload a csv file in mongodb

In [ ]:
path = "/content/drive/MyDrive/Neptune/PyMongo/Data/final_book_dataset_kaggle2.csv"

In [ ]:
#Creating new database
my_books_db = client["Books"]

In [ ]:
#Creating new collection
data_books = my_books_db['data_sci_books']

In [ ]:
import csv

In [ ]:
header = [ "title", "author", "price","price (including used books)",
          "pages","avg_reviews","n_reviews","star5","star4","star3","star2","star1","dimensions","weight","language","publisher","ISBN_13","link"]
csvfile = open(path,'r')

In [ ]:
reader = csv.DictReader( csvfile )

In [ ]:
for each in reader:
  row={}
  for field in header:
    row[field]=each[field]

  data_books.insert_one(row)

In [ ]:
print(client.list_database_names())

['Books', 'CarsDB', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

In [ ]:
dir(data_books)

In [ ]:
for x in data_books.find().limit(5):
  print(x)

{'_id': ObjectId('63d74ca9f819a4d069171e27'), 'title': 'Data Analysis Using R (Low Priced Edition): A Primer for Data Scientist', 'author': '[ Dr Dhaval Maheta]', 'price': 6.75, 'price (including used books)': '6.75', 'pages': '500', 'avg_reviews': '4.4', 'n_reviews': '23', 'star5': '55%', 'star4': '39%', 'star3': '6%', 'star2': '', 'star1': '', 'dimensions': '8.5 x 1.01 x 11 inches', 'weight': '2.53 pounds', 'language': 'English', 'publisher': 'Notion Press Media Pvt Ltd (November 22, 2021)', 'ISBN_13': '978-1685549596', 'link': '/Data-Analysis-Using-Low-Priced/dp/1685549594/ref=sr_1_16?keywords=data+analysis&qid=1671164640&sr=8-16'}
{'_id': ObjectId('63d74ca9f819a4d069171e28'), 'title': "Head First Data Analysis: A learner's guide to big numbers, statistics, and good decisions", 'author': '', 'price': 33.72, 'price (including used books)': ' 21.49 - 33.72 ', 'pages': '484', 'avg_reviews': '4.3', 'n_reviews': '124', 'star5': '61%', 'star4': '20%', 'star3': '9%', 'star2': '4%', 'star1': '6%', 'dimensions': '8 x 0.98 x 9.25 inches', 'weight': '1.96 pounds', 'language': 'English', 'publisher': "O'Reilly Media; 1st edition (August 18, 2009)", 'ISBN_13': '978-0596153939', 'link': '/Head-First-Data-Analysis-statistics/dp/0596153937/ref=sr_1_15?keywords=data+analysis&qid=1671164640&sr=8-15'}
{'_id': ObjectId('63d74caaf819a4d069171e29'), 'title': 'Guerrilla Data Analysis Using Microsoft Excel: Overcoming Crap Data and Excel Skirmishes', 'author': '[ Oz du Soleil,  and , Bill Jelen]', 'price': 32.07, 'price (including used books)': '32.07', 'pages': '274', 'avg_reviews': '4.7', 'n_reviews': '10', 'star5': '87%', 'star4': '13%', 'star3': '', 'star2': '', 'star1': '', 'dimensions': '8.25 x 0.6 x 10.75 inches', 'weight': '1.4 pounds', 'language': 'English', 'publisher': 'Holy Macro! Books; Third edition (August 1, 2022)', 'ISBN_13': '978-1615470747', 'link': '/Guerrilla-Analysis-Using-Microsoft-Excel/dp/1615470743/ref=sr_1_14?keywords=data+analysis&qid=1671164640&sr=8-14'}
{'_id': ObjectId('63d74caaf819a4d069171e2a'), 'title': 'Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython', 'author': '[ William McKinney]', 'price': 53.99, 'price (including used books)': '53.99', 'pages': '547', 'avg_reviews': '4.6', 'n_reviews': '1,686', 'star5': '75%', 'star4': '16%', 'star3': '5%', 'star2': '2%', 'star1': '2%', 'dimensions': '7 x 1.11 x 9.19 inches', 'weight': '1.47 pounds', 'language': 'English', 'publisher': "O'Reilly Media; 2nd edition (November 14, 2017)", 'ISBN_13': '978-1491957660', 'link': '/Python-Data-Analysis-Wrangling-IPython/dp/1491957662/ref=sr_1_11?keywords=data+analysis&qid=1671164640&sr=8-11'}
{'_id': ObjectId('63d74caaf819a4d069171e2b'), 'title': 'Excel Data Analysis For Dummies (For Dummies (Computer/Tech))', 'author': '[ Paul McFedries]', 'price': 24.49, 'price (including used books)': '24.49', 'pages': '368', 'avg_reviews': '3.9', 'n_reviews': '12', 'star5': '52%', 'star4': '17%', 'star3': '10%', 'star2': '10%', 'star1': '10%', 'dimensions': '7.38 x 0.83 x 9.25 inches', 'weight': '1.3 pounds', 'language': 'English', 'publisher': 'For Dummies; 5th edition (February 3, 2022)', 'ISBN_13': '978-1119844426', 'link': '/Excel-Data-Analysis-Dummies-Computer/dp/1119844428/ref=sr_1_12?keywords=data+analysis&qid=1671164640&sr=8-12'}

In [ ]:

myquery = { "pages": { "$regex": "^$" } }
newvalues = { "$set": { "pages": "0" } }

x = data_books.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

85 documents updated.

In [ ]:
data_books.update_many({},[{"$set":{ "pages" : {"$toDouble": "$pages"}}} ])

In [ ]:

myquery = { "price": { "$regex": "^$" } }
newvalues = { "$set": { "price": "0" } }

x = data_books.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")
data_books.update_many({},[{"$set":{ "price" : {"$toDouble": "$price"}}} ])

108 documents updated.

In [ ]:
#avg_reviews from string to double

myquery = { "avg_reviews": { "$regex": "^$" } }
newvalues = { "$set": { "avg_reviews": "0" } }

x = data_books.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")
data_books.update_many({},[{"$set":{ "avg_reviews" : {"$toDouble": "$avg_reviews"}}} ])

128 documents updated.

In [ ]:
#Finding book with highest avg_review
results = data_books.find().sort("avg_reviews",-1).limit(1)

In [ ]:
for result in results:
  print(result)

{'_id': ObjectId('63d74cabf819a4d069171e2f'), 'title': 'Topological Data Analysis with Applications', 'author': '[ Gunnar Carlsson,  and , Mikael Vejdemo-Johansson]', 'price': 0.0, 'price (including used books)': ' 53.98 - 54.19 ', 'pages': 230.0, 'avg_reviews': 5.0, 'n_reviews': '5', 'star5': '100%', 'star4': '', 'star3': '', 'star2': '', 'star1': '', 'dimensions': '6.75 x 0.75 x 9.75 inches', 'weight': '1.28 pounds', 'language': 'English', 'publisher': 'Cambridge University Press; 1st edition (March 24, 2022)', 'ISBN_13': '978-1108838658', 'link': '/Topological-Analysis-Applications-Gunnar-Carlsson/dp/1108838650/ref=sr_1_37?keywords=data+analysis&qid=1671164640&sr=8-37'}