<a href="https://colab.research.google.com/github/gunjanak/My_Data_Science_Course/blob/main/Working_With_date_time_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import datetime as dt

#Working with DatetimeIndex

In [ ]:
dt1 = dt.datetime(2023,5,6)
dt2 = pd.Timestamp('2023-5-6')
dt3 = pd.to_datetime('2023-5-6')

In [ ]:
print(dt1)
print(dt2)
print(dt3)

2023-05-06 00:00:00
2023-05-06 00:00:00
2023-05-06 00:00:00

In [ ]:
print(type(dt1))
print(type(dt2))
print(type(dt3))

<class 'datetime.datetime'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [ ]:
dt1==dt2==dt3

True

In [ ]:
#pandas Timestampl object is equivalent to Python's Datetime object

#dt2 is an instance of pandas.Timestamp class, and the Timestamp class is a subclass of Python's dt.datetime class (not viceversa)
issubclass(pd.Timestamp,dt.datetime)

True

In [ ]:
#When weused the pandsa.to_datetime() function, 
#it returned a Timestamp object. 
#Now, use pandas.to_datetime() on a list 
#and examine the outcome.
dates = ['2023-2-3','2023-2-3']
pd_dates = pd.to_datetime(dates)
print(pd_dates)
print(type(pd_dates))

DatetimeIndex(['2023-02-03', '2023-02-03'], dtype='datetime64[ns]', freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [ ]:
#
dates= ['2023-5-6','5/6/2023','05-06-2023','May 5, 2023','20230506',
        np.datetime64('2023-05-06'),
        dt.datetime(2023,5,6),
        pd.Timestamp(2023,5,6)]

In [ ]:
dates

['2023-5-6',
 '5/6/2023',
 '05-06-2023',
 'May 5, 2023',
 '20230506',
 numpy.datetime64('2023-05-06'),
 datetime.datetime(2023, 5, 6, 0, 0),
 Timestamp('2023-05-06 00:00:00')]

In [ ]:
parsed_dates = pd.to_datetime(dates,
                              infer_datetime_format=True,
                              errors='coerce')

In [ ]:
print(parsed_dates)

DatetimeIndex(['2023-05-06', '2023-05-06', '2023-05-06', '2023-05-05',
               '2023-05-06', '2023-05-06', '2023-05-06', '2023-05-06'],
              dtype='datetime64[ns]', freq=None)

The DatetimeIndex object gives access to many useful properties
and methods to extract additional date and time properties.

We can extract day_name, month, years,days_in_month, quater, is_quater_start, is_leap_year, is_month_start, is_month_end, and is_year_start

In [ ]:
print(f'Name of Day : {parsed_dates.day_name()}')

Name of Day : Index(['Saturday', 'Saturday', 'Saturday', 'Friday', 'Saturday', 'Saturday',
       'Saturday', 'Saturday'],
      dtype='object')

In [ ]:
print(f'Month : {parsed_dates.month}')

Name of Day : Int64Index([5, 5, 5, 5, 5, 5, 5, 5], dtype='int64')

In [ ]:
print(f'Year: {parsed_dates.year}')

Year: Int64Index([2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023], dtype='int64')

In [ ]:
print(f'Days in Month : {parsed_dates.days_in_month}')

Days in Month : Int64Index([31, 31, 31, 31, 31, 31, 31, 31], dtype='int64')

In [ ]:
print(f'Quarter : {parsed_dates.quarter}')

Quarter : Int64Index([2, 2, 2, 2, 2, 2, 2, 2], dtype='int64')

In [ ]:
print(f'Quarter Start : {parsed_dates.is_quarter_start}')

Quarter Start : [False False False False False False False False]

In [ ]:
print(f'Leap Year : {parsed_dates.is_leap_year}')

Leap Year : [False False False False False False False False]

In [ ]:
print(f'Month Start : {parsed_dates.is_month_start}')

Month Start : [False False False False False False False False]

In [ ]:
print(f'Month End : {parsed_dates.is_month_end}')

Month End : [False False False False False False False False]

In [ ]:
print(f'Year Start : {parsed_dates.is_year_start}')

Year Start : [False False False False False False False False]

Generate

In [ ]:
df = pd.date_range(start='2023-05-06',
                   periods=3,
                   freq='D')

In [ ]:
df

DatetimeIndex(['2023-05-06', '2023-05-07', '2023-05-08'], dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.date_range(start='2023-05-06',
                   end='2023-06-06',
                   freq='3D')

In [ ]:
df

DatetimeIndex(['2023-05-06', '2023-05-09', '2023-05-12', '2023-05-15',
               '2023-05-18', '2023-05-21', '2023-05-24', '2023-05-27',
               '2023-05-30', '2023-06-02', '2023-06-05'],
              dtype='datetime64[ns]', freq='3D')

In [ ]:
df = pd.date_range(start='2023-05-06',
                   end='2023-06-06',
                   periods=2)

In [ ]:
df

DatetimeIndex(['2023-05-06', '2023-06-06'], dtype='datetime64[ns]', freq=None)

In [ ]:
df = pd.date_range(start='2023-05-06',
                   end='2023-06-06',
                   periods=9)
df

DatetimeIndex(['2023-05-06 00:00:00', '2023-05-09 21:00:00',
               '2023-05-13 18:00:00', '2023-05-17 15:00:00',
               '2023-05-21 12:00:00', '2023-05-25 09:00:00',
               '2023-05-29 06:00:00', '2023-06-02 03:00:00',
               '2023-06-06 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
#In the following example, provide an end date and 
#the number of periods returned and indicate a daily frequency
df = pd.date_range(end='2023-5-6',periods=3,freq='D')

In [ ]:
df

DatetimeIndex(['2023-05-04', '2023-05-05', '2023-05-06'], dtype='datetime64[ns]', freq='D')

#Providing a format argument to Datetime

In [ ]:
dt.datetime.strptime('5/6/2023','%m/%d/%Y')

datetime.datetime(2023, 5, 6, 0, 0)

In [ ]:
dt.datetime.strptime('6 May, 2023','%d %B, %Y')

datetime.datetime(2023, 5, 6, 0, 0)

In [ ]:
dt.datetime.strptime('6-May-2023','%d-%b-%Y')

datetime.datetime(2023, 5, 6, 0, 0)

In [ ]:
dt.datetime.strptime('Saturday, May 6, 2023','%A, %B %d, %Y')

datetime.datetime(2023, 5, 6, 0, 0)

In [ ]:
df = pd.DataFrame(
    {'Date':['May 5,2023','May 7,2023','May 9,2023'],
     'Sales':[5200,5698,12589]}
)

In [ ]:
df

         Date  Sales
0  May 5,2023   5200
1  May 7,2023   5698
2  May 9,2023  12589

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Sales   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

# Working with Unix epoch timestamps

In [ ]:
import time

In [ ]:
epoch_time = time.time()

In [ ]:
print(epoch_time)

1686275835.118779

In [ ]:
t = pd.to_datetime(epoch_time,unit='s')

In [ ]:
t

Timestamp('2023-06-09 01:57:15.118778880')

In [ ]:
t.tz_localize('UTC').tz_convert('ASIA/Kathmandu')

Timestamp('2023-06-09 07:42:15.118778880+0545', tz='Asia/Kathmandu')

In [ ]:
#We will conver a DataFrame that contains a datetime column in 
#Unix epoch format to a human-redable format.
df = pd.DataFrame(
    {'unix-epoch':[1686214037,1676214037,1666214037,1656214037],
     'Sales':[14585,789456,852963,7895]}
)

In [ ]:
df

   unix-epoch   Sales
0  1686214037   14585
1  1676214037  789456
2  1666214037  852963
3  1656214037    7895

Create a new column,
Call it Date by parsing the unix_epoch column into a datetime (which defaults to GMT), then localize the output to UTC, and convert to local time zome.

Finally, set the Date column as the index.

In [ ]:
df['Date'] = pd.to_datetime(df['unix-epoch'],unit='s')

In [ ]:
df

   unix-epoch   Sales                Date
0  1686214037   14585 2023-06-08 08:47:17
1  1676214037  789456 2023-02-12 15:00:37
2  1666214037  852963 2022-10-19 21:13:57
3  1656214037    7895 2022-06-26 03:27:17

In [ ]:
df['Date'] = df['Date'].dt.tz_localize('UTC').dt.tz_convert('ASIA/Kathmandu')

In [ ]:
df.set_index('Date',inplace=True)

In [ ]:
df

                           unix-epoch   Sales
Date
2023-06-08 14:32:17+05:45  1686214037   14585
2023-02-12 20:45:37+05:45  1676214037  789456
2022-10-20 02:58:57+05:45  1666214037  852963
2022-06-26 09:12:17+05:45  1656214037    7895

In [ ]:
df.index.date

array([datetime.date(2023, 6, 8), datetime.date(2023, 2, 12),
       datetime.date(2022, 10, 20), datetime.date(2022, 6, 26)],
      dtype=object)

Following dataframe will contain data of hypothetical store. It will contain items purchased from the store and the purchase date. 

We will then explore different scenarios using the *Timedelta* class and *to_timedelta()* function.

In [ ]:
df =pd.DataFrame(
    {'item':['item1','item2','item3','item4','item5','item6'],
     'purchase_df':pd.date_range('2022-05-06',periods=6,freq='D',tz='UTC')}
)

In [ ]:
df

    item               purchase_df
0  item1 2022-05-06 00:00:00+00:00
1  item2 2022-05-07 00:00:00+00:00
2  item3 2022-05-08 00:00:00+00:00
3  item4 2022-05-09 00:00:00+00:00
4  item5 2022-05-10 00:00:00+00:00
5  item6 2022-05-11 00:00:00+00:00

Add another datetime column to represent the expiration date, which is 30 days from purchase date:

In [ ]:
df['expiration_dt'] = df['purchase_df']+pd.Timedelta(days=30)

In [ ]:
df

    item               purchase_df             expiration_dt
0  item1 2022-05-06 00:00:00+00:00 2022-06-05 00:00:00+00:00
1  item2 2022-05-07 00:00:00+00:00 2022-06-06 00:00:00+00:00
2  item3 2022-05-08 00:00:00+00:00 2022-06-07 00:00:00+00:00
3  item4 2022-05-09 00:00:00+00:00 2022-06-08 00:00:00+00:00
4  item5 2022-05-10 00:00:00+00:00 2022-06-09 00:00:00+00:00
5  item6 2022-05-11 00:00:00+00:00 2022-06-10 00:00:00+00:00

Now, assume we are asked to create a special extended date for return and this one is set at 35 days, 12 hours and 30 minutes from purchase date

In [ ]:
df['extend_dt'] = df['purchase_df']+pd.Timedelta('35 days 12 hours 30 minutes')

In [ ]:
df

,item,purchase_df,expiration_dt,extend_dt
0,item1,2022-05-06 00:00:00+00:00,2022-06-05 00:00:00+00:00,2022-06-10 12:30:00+00:00
1,item2,2022-05-07 00:00:00+00:00,2022-06-06 00:00:00+00:00,2022-06-11 12:30:00+00:00
2,item3,2022-05-08 00:00:00+00:00,2022-06-07 00:00:00+00:00,2022-06-12 12:30:00+00:00
3,item4,2022-05-09 00:00:00+00:00,2022-06-08 00:00:00+00:00,2022-06-13 12:30:00+00:00
4,item5,2022-05-10 00:00:00+00:00,2022-06-09 00:00:00+00:00,2022-06-14 12:30:00+00:00
5,item6,2022-05-11 00:00:00+00:00,2022-06-10 00:00:00+00:00,2022-06-15 12:30:00+00:00

Assume that you are asked to convert the time zone from UTC to the local time zone of the retailr store's office at Kathmandu

In [ ]:
df.iloc[:,1:] = df.iloc[:,1:].apply(lambda x:x.dt.tz_convert('ASIA/Kathmandu'))

<ipython-input-35-562775f0b7bc>:1: FutureWarning: Setitem-like behavior with mismatched timezones is deprecated and will change in a future version. Instead of raising (or for Index, Series, and DataFrame methods, coercing to object dtype), the value being set (or passed as a fill_value, or inserted) will be cast to the existing DatetimeArray/DatetimeIndex/Series/DataFrame column's timezone. To retain the old behavior, explicitly cast to object dtype before the operation.
  df.iloc[:,1:] = df.iloc[:,1:].apply(lambda x:x.dt.tz_convert('ASIA/Kathmandu'))

In [ ]:
df

,item,purchase_df,expiration_dt,extend_dt
0,item1,2022-05-06 05:45:00+05:45,2022-06-05 05:45:00+05:45,2022-06-10 18:15:00+05:45
1,item2,2022-05-07 05:45:00+05:45,2022-06-06 05:45:00+05:45,2022-06-11 18:15:00+05:45
2,item3,2022-05-08 05:45:00+05:45,2022-06-07 05:45:00+05:45,2022-06-12 18:15:00+05:45
3,item4,2022-05-09 05:45:00+05:45,2022-06-08 05:45:00+05:45,2022-06-13 18:15:00+05:45
4,item5,2022-05-10 05:45:00+05:45,2022-06-09 05:45:00+05:45,2022-06-14 18:15:00+05:45
5,item6,2022-05-11 05:45:00+05:45,2022-06-10 05:45:00+05:45,2022-06-15 18:15:00+05:45

We can calculate the delta between the extended and original expiration dates.

In [ ]:
df['exp_ext_diff'] = (
    df['extend_dt']-df['expiration_dt']
)

In [ ]:
df

,item,purchase_df,expiration_dt,extend_dt,exp_ext_diff
0,item1,2022-05-06 05:45:00+05:45,2022-06-05 05:45:00+05:45,2022-06-10 18:15:00+05:45,5 days 12:30:00
1,item2,2022-05-07 05:45:00+05:45,2022-06-06 05:45:00+05:45,2022-06-11 18:15:00+05:45,5 days 12:30:00
2,item3,2022-05-08 05:45:00+05:45,2022-06-07 05:45:00+05:45,2022-06-12 18:15:00+05:45,5 days 12:30:00
3,item4,2022-05-09 05:45:00+05:45,2022-06-08 05:45:00+05:45,2022-06-13 18:15:00+05:45,5 days 12:30:00
4,item5,2022-05-10 05:45:00+05:45,2022-06-09 05:45:00+05:45,2022-06-14 18:15:00+05:45,5 days 12:30:00
5,item6,2022-05-11 05:45:00+05:45,2022-06-10 05:45:00+05:45,2022-06-15 18:15:00+05:45,5 days 12:30:00

#Converting Datetime with time zone information

In [9]:
df = pd.DataFrame({
    'Location':['Los Angles','New York','Berlin','New Delhi','Moscow',
                'Tokyo','Dubai'],
    'tz':['US/Pacific','US/Eastern','Europe/Berlin','Asia/Kolkata',
          'Europe/Moscow','Asia/Tokyo','Asia/Dubai'],
          'visit_dt':pd.date_range(start='22:00',periods=7,freq='45min'),
}).set_index('visit_dt')

In [10]:
df

                       Location             tz
visit_dt
2023-06-09 22:00:00  Los Angles     US/Pacific
2023-06-09 22:45:00    New York     US/Eastern
2023-06-09 23:30:00      Berlin  Europe/Berlin
2023-06-10 00:15:00   New Delhi   Asia/Kolkata
2023-06-10 01:00:00      Moscow  Europe/Moscow
2023-06-10 01:45:00       Tokyo     Asia/Tokyo
2023-06-10 02:30:00       Dubai     Asia/Dubai

In [11]:
#Assume that we need to convert this datafram to be in same time zone as the 
#company's headquater Tokyo
df = df.tz_localize('UTC')

In [12]:
df

                             Location             tz
visit_dt
2023-06-09 22:00:00+00:00  Los Angles     US/Pacific
2023-06-09 22:45:00+00:00    New York     US/Eastern
2023-06-09 23:30:00+00:00      Berlin  Europe/Berlin
2023-06-10 00:15:00+00:00   New Delhi   Asia/Kolkata
2023-06-10 01:00:00+00:00      Moscow  Europe/Moscow
2023-06-10 01:45:00+00:00       Tokyo     Asia/Tokyo
2023-06-10 02:30:00+00:00       Dubai     Asia/Dubai

In [16]:
df_hq = df.tz_convert('Asia/Tokyo')
df_hq

,Location,tz,local_dt
visit_dt,,,
2023-06-10 07:00:00+09:00,Los Angles,US/Pacific,2023-06-09 15:00:00-07:00
2023-06-10 07:45:00+09:00,New York,US/Eastern,2023-06-09 18:45:00-04:00
2023-06-10 08:30:00+09:00,Berlin,Europe/Berlin,2023-06-10 01:30:00+02:00
2023-06-10 09:15:00+09:00,New Delhi,Asia/Kolkata,2023-06-10 05:45:00+05:30
2023-06-10 10:00:00+09:00,Moscow,Europe/Moscow,2023-06-10 04:00:00+03:00
2023-06-10 10:45:00+09:00,Tokyo,Asia/Tokyo,2023-06-10 10:45:00+09:00
2023-06-10 11:30:00+09:00,Dubai,Asia/Dubai,2023-06-10 06:30:00+04:00

In [17]:
df['local_dt']= df.index
df['local_dt']=df.apply(lambda x: pd.Timestamp.tz_convert(x['local_dt'],x['tz']),axis=1)

In [18]:
df

,Location,tz,local_dt
visit_dt,,,
2023-06-09 22:00:00+00:00,Los Angles,US/Pacific,2023-06-09 15:00:00-07:00
2023-06-09 22:45:00+00:00,New York,US/Eastern,2023-06-09 18:45:00-04:00
2023-06-09 23:30:00+00:00,Berlin,Europe/Berlin,2023-06-10 01:30:00+02:00
2023-06-10 00:15:00+00:00,New Delhi,Asia/Kolkata,2023-06-10 05:45:00+05:30
2023-06-10 01:00:00+00:00,Moscow,Europe/Moscow,2023-06-10 04:00:00+03:00
2023-06-10 01:45:00+00:00,Tokyo,Asia/Tokyo,2023-06-10 10:45:00+09:00
2023-06-10 02:30:00+00:00,Dubai,Asia/Dubai,2023-06-10 06:30:00+04:00

In [19]:
#am and pm
df.index = df.index.strftime('%Y-%m-%d %H:%M %p')

In [20]:
df

                       Location             tz                   local_dt
visit_dt
2023-06-09 22:00 PM  Los Angles     US/Pacific  2023-06-09 15:00:00-07:00
2023-06-09 22:45 PM    New York     US/Eastern  2023-06-09 18:45:00-04:00
2023-06-09 23:30 PM      Berlin  Europe/Berlin  2023-06-10 01:30:00+02:00
2023-06-10 00:15 AM   New Delhi   Asia/Kolkata  2023-06-10 05:45:00+05:30
2023-06-10 01:00 AM      Moscow  Europe/Moscow  2023-06-10 04:00:00+03:00
2023-06-10 01:45 AM       Tokyo     Asia/Tokyo  2023-06-10 10:45:00+09:00
2023-06-10 02:30 AM       Dubai     Asia/Dubai  2023-06-10 06:30:00+04:00

#Working with date offsets

In [21]:
np.random.seed(10)

In [22]:
df = pd.DataFrame(
    {
        'purchase_dt':pd.date_range('2021-01-01',periods=6,freq='D'),
     'production':np.random.randint(4,20,6)
    }
).set_index('purchase_dt')

In [23]:
df

             production
purchase_dt
2021-01-01           13
2021-01-02           17
2021-01-03            8
2021-01-04           19
2021-01-05            4
2021-01-06            5

In [24]:
df['day'] = df.index.day_name()

In [25]:
df

             production        day
purchase_dt
2021-01-01           13     Friday
2021-01-02           17   Saturday
2021-01-03            8     Sunday
2021-01-04           19     Monday
2021-01-05            4    Tuesday
2021-01-06            5  Wednesday

In [26]:
#The firms asks us to push the weekend/holiday production numbersto the next business day instead
df['BusinessDay'] = df.index + pd.offsets.BDay(0)
df['BDay Name'] = df['BusinessDay'].dt.day_name()

In [27]:
df

             production        day BusinessDay  BDay Name
purchase_dt
2021-01-01           13     Friday  2021-01-01     Friday
2021-01-02           17   Saturday  2021-01-04     Monday
2021-01-03            8     Sunday  2021-01-04     Monday
2021-01-04           19     Monday  2021-01-04     Monday
2021-01-05            4    Tuesday  2021-01-05    Tuesday
2021-01-06            5  Wednesday  2021-01-06  Wednesday

In [28]:
df.groupby(['BusinessDay','BDay Name']).sum()

<ipython-input-28-3060d12e141a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['BusinessDay','BDay Name']).sum()

                       production
BusinessDay BDay Name
2021-01-01  Friday             13
2021-01-04  Monday             44
2021-01-05  Tuesday             4
2021-01-06  Wednesday           5

In [30]:
#The business has made another request 
#they would like to track production monthly (MonthEnd)  and Quartely (QuarterEnd)
df['QuarterEnd'] = df.index+pd.offsets.QuarterEnd(0)
df['MonthEnd'] = df.index+pd.offsets.MonthEnd(0)
df['BusinessDay'] = df.index+pd.offsets.BDay(0)

In [31]:
df

,production,day,BusinessDay,BDay Name,QuarterEnd,MonthEnd
purchase_dt,,,,,,
2021-01-01,13,Friday,2021-01-01,Friday,2021-03-31,2021-01-31
2021-01-02,17,Saturday,2021-01-04,Monday,2021-03-31,2021-01-31
2021-01-03,8,Sunday,2021-01-04,Monday,2021-03-31,2021-01-31
2021-01-04,19,Monday,2021-01-04,Monday,2021-03-31,2021-01-31
2021-01-05,4,Tuesday,2021-01-05,Tuesday,2021-03-31,2021-01-31
2021-01-06,5,Wednesday,2021-01-06,Wednesday,2021-03-31,2021-01-31

#Working with custom Business days

In [32]:
dubai_uae_workdays = "Sun Mon Tue Wed Thu"
nationalDay = [pd.to_datetime('2021-12-2')]

In [33]:
dubai_uae_bday = pd.offsets.CDay(
    holidays=nationalDay,
    weekmask = dubai_uae_workdays,
)

In [35]:
dubai_uae_bday.holidays

(numpy.datetime64('2021-12-02'),)

In [36]:
df = pd.DataFrame(
    {'Date':pd.date_range('12-1-2021',periods=10,freq=dubai_uae_bday)}
)

In [37]:
df

        Date
0 2021-12-01
1 2021-12-05
2 2021-12-06
3 2021-12-07
4 2021-12-08
5 2021-12-09
6 2021-12-12
7 2021-12-13
8 2021-12-14
9 2021-12-15

In [38]:
df['Day_name'] = df.Date.dt.day_name()

In [39]:
df

        Date   Day_name
0 2021-12-01  Wednesday
1 2021-12-05     Sunday
2 2021-12-06     Monday
3 2021-12-07    Tuesday
4 2021-12-08  Wednesday
5 2021-12-09   Thursday
6 2021-12-12     Sunday
7 2021-12-13     Monday
8 2021-12-14    Tuesday
9 2021-12-15  Wednesday